body        {
    background: #8cc084;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#wrapper     {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
    box-sizing: border-box;
}

#calculator         {
    width: 325px;
    border: 2px solid #eee;
    font-size: .9rem;
    padding: 1.25em 1.25em 0.56em;
    box-sizing: border-box;
    height: auto;
    border-radius: 5px;
    background: #c1d7ae;
}

.keys span          {
    width: 4em;
    float: left;
    height: 2.5em;
    line-height: 2.5em;
    margin:  0 10px 11px 4px;
    background: #738290;
    color: #222;
    font-weight: 600;
    cursor: pointer;
}

.keys .operator        {
    margin-right: 0;
    background: #ecc084;
    color: #000;
}

.keys .eval         {
    background: #8cc084;
    font-weight: 700;
}

.screen         {
    width: 16.5em;
    height: 3.5em;
    margin: 5px auto;
    background: #bbb;
    text-align: right;
    line-height: 3.5em;
    color: snow;
    font-size: 1rem;
    font-weight: 600;
    padding-right: 5px;
    border-radius: 5px;
}

.logo h4        {
    margin: 0;
    letter-spacing: 2px;
    font-weight: "Oswald";
}

.logo p         {
    margin: 0;
    margin-bottom: 15px;
}