body
    padding: 0
    margin: 0
    background: black
    font-family: "Noto sans", sans-serif
    font-size: 14px
    color: #fff

.container
    border: 2px solid green
    width: 80%
    margin: 0 auto
    height: 100vh

    .calculator
        border: 2px dotted yellow
        width: 325px
        height: auto
        margin: 100px auto
        padding: 20px 20px 9px
        box-sizing: border-box
        border-radius: 5px

        .keys
            overflow: hidden

            span
                float: left
                width: 60px
                height: 40px
                border: 1px solid cyan
                border-radius: 3px
                line-height: 40px
                margin: 0 7px 11px 0
                text-align: center
                cursor: pointer
                
.container .calculator .keys .operator
    margin-right: 0